
@{
    ViewBag.Title = "Index";
}

<div class="col-xs-12 col-md-12">
    <div class="col-md-10 col-md-offset-1" style="padding: 20px 10px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);">
        <h1 class="text-success text-center">Welcome</h1>
    </div>
</div>

